{% extends "base.html" %}

{% block content %}

<div class="row mainform">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <h2>Password confirm </h2>
    <p>Please enter (and confirm) your new password.</p>

    {% if validlink %}
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'includes/_render_bootstrap4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Change My Password</button>
    </form>
    {% else %}
    <h2>Password reset failed</h2>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
  <div class="col-md-4"></div>
</div>


{% endblock %}
