{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="alert alert-danger" role="alert">You are about to delete this important date... It cannot be undone!</div>

      <h2>{{ importantdate.desc }}</h2>
      <p>{{ importantdate.date }}</p>
      <form method="post">
        {% csrf_token %}
        <input type="submit" name="delete" value="Confirm Deletion" class="btn btn-danger"/>
      </form>

    </div>
  </div>
{% endblock content %}
