{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}
<style>
h2 {margin-top:20px;}
</style>
{% endblock extrahead %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-4">

      <h2>Form (<code>as_table</code>)</h2>
      <form method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <input type="submit" value="Submit" />
      </form>

      <h2>Form (<code>as_p</code>)</h2>
      <form method="post">
        {% csrf_token %}
        <div>{{ form.as_p }}</div>
        <input type="submit" value="Submit" />
      </form>

      <h2>Form (<code>as_ul</code>)</h2>
      <form method="post">
        {% csrf_token %}
        <ul>{{ form.as_ul }}</ul>
        <input type="submit" value="Submit" />
      </form>

      <h2>Form (crispy forms)</h2>
      {% crispy form %}

    </div>
  </div>
{% endblock content %}
